<h3>Crear tarea</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Título: </label>
      <input [(ngModel)]="task .title" name="title" type="text" class="form-control" id="title" required />
    </div>
 
    <div class="form-group">
      <label for="description">Descripción: </label>
      <input [(ngModel)]="task .description" name="description" type="text" class="form-control" id="description" required />
    </div>

    <div class="form-group">
      <label for="status">Estado: </label>
      <input [(ngModel)]="task .status" name="status" type="text" class="form-control" id="status" required />
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h6>¡Has registrado la tarea con éxito!</h6>
  <button (click)="newTask()" class="btn btn-success">Agregar</button>
</div>  